<body>
  <header>
    <app-avatar></app-avatar>
    <app-side-menu></app-side-menu>
  </header>

  <ion-content id="main">

    <div id="title-div">
      <ion-text id="subtitle">Bienvenido</ion-text>
      <ion-text id="title">Gym Name</ion-text>
      
    </div>

    <div style="background-color: white;"><div id="card"></div></div>
  
    <div id="content">
      <div id="menu-div" *ngIf="user.user_role == 'admin'" >
        <app-clases-button class="menu-item"></app-clases-button>
        <app-alumnos-button class="menu-item"></app-alumnos-button>
        <app-instructor-button class="menu-item"></app-instructor-button>
        <app-rutinas-button class="menu-item"></app-rutinas-button>
        <app-herramientas-button class="menu-item"></app-herramientas-button>
      </div>

      <div id="menu-div" *ngIf="user.user_role == 'alumno'" >
        <app-clases-button class="menu-item"></app-clases-button>
        <app-rutinas-button class="menu-item"></app-rutinas-button>
        <app-herramientas-button class="menu-item"></app-herramientas-button>
      </div>

      <div id="menu-div" *ngIf="user.user_role == 'instructor'" >
        <app-clases-button class="menu-item"></app-clases-button>
        <app-alumnos-button class="menu-item"></app-alumnos-button>
        <app-rutinas-button class="menu-item"></app-rutinas-button>
        <app-herramientas-button class="menu-item"></app-herramientas-button>
      </div>

    </div>

  </ion-content>
</body>