<body>
  <header>
    <app-avatar></app-avatar>
    <app-side-menu></app-side-menu>
  </header>

  <ion-content id="main">

    <div style="background-color: #00bb70;">
      <div id="card">
        <ion-text id="title">Clases</ion-text>
      </div>
    </div>

    <div id="content">
      
      <div class="ion-padding" *ngFor="let clase of clases" >
        <div>
          <p class="nombre_clase">{{clase}}</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi assumenda a dignissimos nobis voluptatibus obcaecati sit explicabo, eius voluptatum. Quisquam minus laudantium ab laborum omnis nostrum id accusantium delectus suscipit.</p>
        </div>
      </div>

    </div>

  </ion-content>
</body>