<header>
  <app-avatar></app-avatar>
  <ion-menu-button></ion-menu-button>
</header>

<ion-content id="main">

  <div style="background-color: #00bb70;">
    <div id="card">
      <ion-text id="title">Herramientas</ion-text>
    </div>
  </div>

  <div id="content">

    <ion-row class="herramienta" (click)="cronometro()">
      <ion-col size="4">
        <ion-icon name="alarm" size="large" color="light"></ion-icon>
      </ion-col>
      <ion-col size="8" style="text-align: left;">
        <ion-label class="tool-name">Cronómetro</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="herramienta" (click)="temporizador()">
      <ion-col size="4">
        <ion-icon name="hourglass" size="large" color="light"></ion-icon>
      </ion-col>
      <ion-col size="8" style="text-align: left;">
        <ion-label class="tool-name">Temporizador</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="herramienta" (click)="tabata()">
      <ion-col size="4">
        <ion-icon name="fitness" size="large" color="light"></ion-icon>
      </ion-col>
      <ion-col size="8" style="text-align: left;">
        <ion-label class="tool-name">Tábata Timer</ion-label>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
