<ion-app>
  <ion-menu side="end" menuId="menu" contentId="main">
    <ion-header class="menu">
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['../menu']">Inicio</ion-item>
        <ion-item [routerLink]="['../clases']">Clases</ion-item>
        <ion-item [routerLink]="['../alumnos']">Alumnos</ion-item>
        <ion-item [routerLink]="['../instructores']">Instructores</ion-item>
        <ion-item [routerLink]="['../rutinas']">Rutinas</ion-item>
        <ion-item [routerLink]="['../herramientas']">Herramientas</ion-item>
        <div class="div-button">
          <ion-button class="button" [routerLink]="['../home']">Cerrar Sesión</ion-button>
        </div>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
