<ion-icon name="menu" (click)="openMenu()"></ion-icon>

<ion-menu side="end" menuId="menu" contentId="main">
  <ion-header class="menu">
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu">
    <ion-list>
      <ion-item>Inicio</ion-item>
      <ion-item>Clases</ion-item>
      <ion-item>Alumnos</ion-item>
      <ion-item>Instructores</ion-item>
      <ion-item>Rutinas</ion-item>
      <ion-item>Herramientas</ion-item>
    </ion-list>
    <div class="div-button">
      <ion-button class="button">Cerrar Sesión</ion-button>
    </div>
    
  </ion-content>
</ion-menu>
