<header>
  <ion-text id="title">{{instructor.name}} {{instructor.lastname}}</ion-text>
</header>

<ion-icon id="icon" name="close" (click)="dismiss()"></ion-icon>

<ion-content id="main">

  <!-- VISTA DE ADMINISTRADOR -->
  <div id="content" *ngIf="user.user_role == 'admin'">

    <ion-row style="height: 15px;"></ion-row>

    <img id="avatar" src="{{instructor.avatar}}">

    <ion-row style="height: 10px;"></ion-row> 

    <form (ngSubmit)="onSubmit()" [formGroup]="instructorForm">
      <ion-item>
        <ion-label position="floating" color="success">Nombre:</ion-label>
        <ion-input type="text" class="input-text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="success">Apellido:</ion-label>
        <ion-input type="text" class="input-text" formControlName="lastname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="success">Edad:</ion-label>
        <ion-input type="number" class="input-text" formControlName="age"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="success">Clases que dicta:</ion-label>
        <ion-select multiple="true" (ionChange)="select($event)" [value]="(instructor.lessons)">
          <ion-select-option *ngFor="let clase of instructor.lessons" value="{{clase}}">{{clase}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="success">Estado:</ion-label>
        <ion-select value="{{instructor.state}}">
          <ion-select-option value="activo">Activo</ion-select-option>
          <ion-select-option value="inactivo">Inactivo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-row style="height: 20px;"></ion-row>

      <ion-button class="button" type="submit" [disabled]="!instructorForm.valid">Guardar</ion-button>
    </form>

    <ion-row style="height: 25px;"></ion-row>

  </div>

</ion-content>
