<header>
  <app-avatar></app-avatar>
  <ion-menu-button></ion-menu-button>
</header>

<ion-content id="main">

  <div style="background-color: #00bb70;">
    <div id="card">
      <ion-text id="title">Rutinas</ion-text>
    </div>
  </div>

  <div id="content">
    <!-- barra de búsqueda -->
    <div id="searchbar-div">
      <ion-row style="width: 100%;">
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Clase</ion-label>
            <ion-select>
              <ion-select-option value="f">Crossfit</ion-select-option>
              <ion-select-option value="m">Funcional</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Instructor</ion-label>
            <ion-select>
              <ion-select-option value="active">Pedro</ion-select-option>
              <ion-select-option value="inactive">Lucas</ion-select-option>
              <ion-select-option value="all">Todos</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-searchbar
        id="searchbar" 
        debounce="500" 
        placeholder="buscar rutinas" 
        (ionInput)="buscar($event)" 
        (ionCancel)="cancelarBusqueda($event)">
      </ion-searchbar>
    </div>

    <!-- tarjetas de clases -->
    <div id="rutinas-content" >
      <div id="rutina-div" *ngFor="let rutina of rutinasEncontradas">
        <ion-card mode="ios" id="rutina" (click)="abrirRutina(rutina)">
          <ion-card-header>
            <ion-card-title>{{rutina.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>{{rutina.description}}</ion-text><br>
            <ion-chip>{{rutina.class}}<br>{{rutina.date}}</ion-chip>
          </ion-card-content>
        </ion-card>      
      </div> 
    </div>
    

    <ion-row style="height: 20px;"></ion-row>

  </div>

  <!-- botón instructor: crear nueva clase -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="user.user_role == 'admin' || user.user_role == 'instructor'" >
    <ion-fab-button color="light" (click)="nuevaRutina()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
