<header>
  <ion-text id="title">{{rutina.title}}</ion-text>
</header>

<ion-icon id="icon" name="close" (click)="dismiss()"></ion-icon>

<ion-content id="main">
  <div style="background-color: #00bb70;"><div id="card"></div></div>

  <!-- VISTA DE ADMINISTRADOR / INSTRUCTOR -->
  <div id="content1" *ngIf="user.user_role == 'admin'">

    <ion-row style="height: 15px;"></ion-row>

    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input type="text" id="title2" value="{{rutina.title}}" class="input-text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea class="area" value="{{rutina.description}}" rows="16"></ion-textarea>
      </ion-item>

      <ion-row style="height: 20px;"></ion-row>

      <ion-button class="button" type="submit">Guardar</ion-button>
    </form>

    <ion-row style="height: 25px;"></ion-row>

  </div>

  <!-- VISTA DE ALUMNO -->
  <div id="content1" *ngIf="user.user_role == 'alumno'">

    <ion-row style="height: 25px;"></ion-row>

    <div id="description-div"><ion-text id="description">{{rutina.description}}</ion-text></div>

    <ion-row style="height: 25px;"></ion-row>

  </div>

</ion-content>
