#button{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 15px;
    background-image: linear-gradient(45deg,#ebebeb, #eeeeee, #ffffff);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1.5em;
}

#icon-div{
    background-color: #00bb70;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon{
    color: white;
    zoom: 1.4;
}

#title{
    font-size: 16px;
    color: #00bb70;
    font-weight: bold;
}
