<body>
  <header>
    <app-avatar></app-avatar>
    <app-side-menu></app-side-menu>
  </header>

  <ion-content id="main">

    <div id="title-div">
      <ion-text id="subtitle">Bienvenido</ion-text>
      <ion-text id="title">Gym Name</ion-text>
      
    </div>

    <div style="background-color: white;"><div id="card"></div></div>
  
    <div id="content">
      <div id="menu-row">
        <app-clases-button></app-clases-button>
        <app-alumnos-button></app-alumnos-button>
      </div>

      <ion-row style="height: 25px;"></ion-row>

      <div id="menu-row">
        <app-instructor-button></app-instructor-button>
        <app-rutinas-button></app-rutinas-button>
      </div>

    </div>

  </ion-content>
</body>